<div class="loading" *ngIf="isLoading">Loading...</div>
<h3 *ngIf="!isLoading">Users</h3>
<div class="table-container">
  <table *ngIf="!isLoading">
    <tr>
      <th>Name</th>
      <th>Email Address</th>
      <th>Gender</th>
      <th>Role</th>
      <th>Status</th>
    </tr>
    <ng-container *ngFor="let user of users">
      <tr>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.gender ?? "Not set"}}</td>
        <td>{{user.isAdmin | userType}}</td>
        <td>
          <app-online-status [status]="user.online" ></app-online-status>
        </td>
      </tr>
    </ng-container>

  </table>
</div>
